#lose-actions {
    display: flex;
    width: 100%;
    max-width: 750px; /* Mismo ancho maximo exacto que tu #word--input */
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

#lose-actions > button {
    flex: 1;
    background-color: #E7DBCD;
    padding: 1.5rem; /* Ajustado para equiparar el padding de tu .word-text-field */
    border-radius: 1rem;
    font-size: 18px; /* Ajustado para que el texto largo no rompa la caja */
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    white-space: nowrap; /* Evita que el texto salte de línea y altere el alto */
}

#resumen-partida {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E7DBCD;
    border: 2px solid #E7DBCD;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 710px;
    height: 110px;
    box-sizing: border-box;
    gap: 2rem;
    margin-bottom: 0.5rem;
}

#resumen-partida h1 {
    font-size: 28px;
    color: #2b2927;
}

#resumen-partida p {
    margin: 0;
    font-size: 14px;
    color: #5a554f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

#resumen-partida p strong {
    font-size: 24px;
    color: #2b2927;
    font-weight: 700;
}