#lose-actions{
    display: flex;
    width: 100%;
    max-width: 750px;
    justify-content: center;
    gap: 1rem;
}

#lose-actions > button {
    flex: 1;
    background-color: #E7DBCD;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 24px;

    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}


