#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    overflow-y: hidden;
}

.saltar-puntaje {
    background-color: #e7dbcd;
    padding: 1rem;
    border-radius: 1rem;
}