
.word-text-field.error-input{
    background-color: #D94E4E;
    color: #ffff;
    font: 900 bold;
}

#word--input > button {
    width: fit-content;
    padding: 0 2rem;
    background-color: #1C2541;
    color: #E7DBCD;
    border-radius: 0 3rem 3rem 0;
    font-size: 1.5rem;
    border: none;
}

