* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0B132B;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

#timer {
    background-color: #E7DBCD;
    color: #0B132B;
    padding: 2rem 5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 26px;
}


#word--input {
    display: flex;
    flex-direction: row;
    width: 500px;
}

#word--input > input {
    width: 100%;
    padding: 0.5rem;
}

#word--input > button {
    width: fit-content;
    padding: 0.5rem;
}