* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0B132B;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.message {
    padding: 2.5rem;
    background-color: #E7DBCD;
    border-radius: 1rem;
}

.error {
    background-color: #B8336A;
    color: #E7DBCD;
    border-radius: 1rem;
    padding: 1rem;
    visibility: hidden;
}

.visible {
    visibility: visible;
}
#timer {
    background-color: #E7DBCD;
    color: #0B132B;
    padding: 2rem 5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 26px;
}


#word--input {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 750px;
}


.word-text-field {
    width: 100%;
    background-color: #E7DBCD;
    padding: 1.5rem;
    border-radius: 1rem 0 0 1rem;
    font-size: 24px;
    color: #1C2541;
    outline: none;
}
